{% extends 'base.html.twig' %}

{% block title %}Quiz Application{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Categories</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.level }}</td>
                    <td>{{ quiz.categories|join(', ') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
